<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <a th:href="@{/}">Home</a>
    <!--|-->
    <!--<a th:href="@{/api/picture}">-->
        <!--Picture-->
    <!--</a>-->
    <!--|-->
    <!--<a th:href="@{/shoppingCart}">-->
        <!--My Cart-->
    <!--</a>-->
    <!--|-->
    <!--<th:block sec:authorize="hasAnyRole('USER','ADMIN')">-->
        <!--<a th:href="@{/api/picture}">-->
            <!--Order List-->
        <!--</a>-->
        <!--|-->
    <!--</th:block>-->
    <th:block sec:authorize="hasAuthority('USER')">
        <a th:href="@{/api/picture}">
            New picture
        </a>
    </th:block>
</div>