<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Gallery demo</div>
<div class="demo-container">
    <h3>Demo content</h3>
    <ul>
        <li>Original photos</li>
        <li>Social</li>
        <li>Blog</li>
    </ul>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>